{% extends 'bookapp/base.html' %}
{% block content %}
<p class="paragraph">Słynny amerykański pisarz Kurt Vonnegut stwierdził kiedyś, że każdą opowieść można przedstawić w formie wykresu, jeśli oś y rozpiąć pomiędzy wartościami powodzenie–niepowodzenie, a oś x – między początkiem a końcem historii. Postawił ponadto tezę, że istnieje określona liczba typów historii. Fragment jego wystąpienia, dostępny w internecie, zainspirował badaczy, by podjąć próbę przedstawienia opowieści w taki właśnie sposób.
</p><div class="container">

{% load static %}

<img src="{% static 'bookapp/kv.png' %}" class="image"></div>
<p class="paragraph">Aplikacja pozwala na uzyskanie trajektorii emocjonalnej tekstu narracyjnego za pomocą analizy wydźwięku, a także na znalezienie kilku trajektorii najbardziej przypominających wybraną. 
<p class="paragraph">Pamiętaj, że im dłuższy tekst wybierzesz, tym dłużej będzie się generował wykres.</p>
</p>

{% endblock content %}