body {
  background: radial-gradient(circle, rgba(80,63,251,1) 0%, rgba(184,70,252,1) 100%);
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
}
h1 {
    font-weight: 500;
    text-align: center;
    font-size: 1.5em;
}
h2 {
  font-weight: 500;
  text-align: center;
  font-size: 1.5em;
}
.text {
    color:#DDDDDD;
    font-weight: 500;
    text-align: center;
    font-size: 2vw;
}
.image {
    border: 1px solid #4a3aea;
    border-radius: 3px;
    max-width: 100%;
    height: auto;
}
.image_container {
    padding-left: 20em;
    padding-right: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titles {
    font-weight: 500;
    font-size: 1.5em;
    text-transform: uppercase;
}
.books {
    list-style: none;
    color:#DDDDDD;
    font-size: 1.5em;
}
p.text1 {
    font-weight: 300;
    text-align: center;
}
a.button1{
    display: inline-block;
    padding: 0.5em 3em;
    border: 0.16em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: #4838e2;
    background-color: #FFFFFF;
    text-align: center;
    transition: all 0.15s;

    display: flex;
    justify-content: center;
    align-items: center;
    }
    a.button1:hover{
    color:#9389f2;
    border-color:#9389f2;
    }
    a.button1:active{
    color:#9389f2;
    border-color:#9389f2;
    }

a.button2{
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    display: inline-block;
    padding: 0.5em 3em;
    border: 0.16em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    transition: all 0.15s;
    }
    a.button2:hover{
    color:#DDDDDD;
    border-color:#DDDDDD;
    }
    a.button2:active{
    color:#BBBBBB;
    border-color:#BBBBBB;
    }
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

  .navbar {
    width: 100%;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
  }
  
  .navbar .menu-items {
    background-color: rgb(80,63,251);
    opacity: 0.8;
  }
  
  .navbar .nav-container li {
    list-style: none;
  }
  
  .navbar .nav-container a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
    text-transform:uppercase;
  }
  
  .navbar .nav-container a:hover{
      color:#DDDDDD;
  }
  
  .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }
  
  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #FFFFFF;
  }
  
  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .navbar .menu-items {
    padding-top: 120px;
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
  }
  
  .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .logo {
    position: absolute;
    /* top: 5px; */
    right: 15px;
    font-size: 1.2rem;
  }
  
  .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
.footer-container {
    width: 100%;
    height: 2.5rem;
    bottom: 0;
    position: absolute;
    background-color: #9557b2;
    color: #fff;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
}
.footer {
    margin: auto;
    font-size: x-small;
}
.content-wrap {
    padding-bottom: 2.5rem;
}
.page_container {
    position: relative;
    min-height: 100vw;
}
.paragraph {
    padding-top: 1em;
    padding-left: 10%;
    padding-right: 10%;
    font-weight: 500;
    font-size: 1.5em;
}
.bold {
  text-decoration: solid;
}
a.link:link {
  color: rgb(47, 20, 103);
  text-decoration: none;
}
a.link:visited {
  color: rgb(224, 218, 218);
}
a.link:hover {
  color: rgb(170, 75, 210);
}
.table {
  overflow-x: auto;
}
@media only screen and (max-width: 800px) {
h2 {
  font-size: 1em;
}
.titles {
  font-size: 1em;
}
.books {
  font-size: 1em;
}
.paragraph {
  font-size: 1em;
}
}